
<configuration>
    <appender name="SIMPLE_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file> <!-- اسم فایل: app.log -->
        <encoder>
            <pattern>%logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="SIMPLE_FILE" />
    </root>
</configuration>